.app-container {
  text-align: right;
}

.align-right {
  text-align: right;
  direction: rtl; /* Optional: if you want the entire layout to be right-to-left */
}

.category-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.category-item {
  position: relative;
  margin: 0 10px;
  cursor: pointer;
}

.category-image {
  width: 250px;
  height: 100px;
}

.category-image.selected {
  border: 2px solid blue;
}

.category-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  font-size: 24px; /* Adjust this value to make the text bigger */
}

.category-item.selected .category-label {
  color: blue; /* Change the text color to blue when the category is selected */
}

.sheet-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sheet-item {
  position: relative;
  margin: 0 10px;
  cursor: pointer;
}

.sheet-image {
  width: 250px;
  height: 100px;
}

.sheet-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  font-size: 24px; /* Adjust this value to make the text bigger */
}

.sheet-item.selected-sheet .sheet-label {
  color: blue;
}

.start-quiz-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.startQuizButton {
  width: 200px; /* Match the width of the image */
  height: 200px; /* Match the height of the image */
  background-image: url('./img/start.png'); /* Path to your image */
  background-size: contain; /* Scale the image to fit the button */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.clear-progress-container {
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.clear-progress-container button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.cat-page-title {
  top: auto;
  font-size: 64px; /* Adjust font size as needed */
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: wheat;
  background-color: Red;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closeButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.closeButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #d32f2f;
}

.show-rules-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}